pandas==0.24.2
pandas-profiling==2.3.0
numpy==1.16.4
numpydoc==0.9.1
Flask==1.1.1
Flask-RESTful==0.3.7
Flask-RESTful==0.3.7
json5==0.8.4
jsonschema==3.0.1
attrs==18.1.0
fuzzywuzzy==0.17.0
logging2==0.1.2
traceback2==1.4.0
pyodbc==4.0.26
pyspark==3.0.0
pyignite==0.3.4
requests==2.22.0
datasketch==1.4.10
collections2==0.3.0
pickle4==0.0.1
redis==3.3.10
argparse==1.4.0
jellyfish==0.7.2
textdistance==4.1.5
more-itertools==7.0.0
scikit-image==0.17.2
scikit-learn==0.23.1
scikit-optimize==0.7.4
scikit-plot==0.3.7
xgboost==1.1.1
matplotlib==3.2.2
seaborn==0.9.0
tensorflow==2.0.1